#root {
  max-width: 1280px;
  margin: 50px auto;
  padding: 25%;
  text-align: center;
}

.App :hover {
  background-color: black;
  color: rgb(243, 191, 232);
  border-radius: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}

html

body{
  background-color: black;
  height: 90%;
  
}

main{
  background-color: blueviolet;
 margin: 80px;
 width: 80%;
 height: 800px;
 border: 10px solid black;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 40px rgba(234, 185, 185, 0.565);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
 font-weight: bold;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
 
}

h1{
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Courier New', Courier, monospace;
  
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  background-color: blueviolet;
  box-shadow: 0 0 80px rgb(13, 219, 226);
  width: 80%;
  margin: 10px calc(50% - 40%);
  cursor: pointer;
  &:hover {
    background-color: black;
    color: rgb(243, 191, 232);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
  }

}















 